body {
    background-color: #E5E9F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0rem;
    border: 3px dotted #B48EAD
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding: 3rem 2rem;
    border: 1px solid black
}
.leftheader img {
    border-radius: 2rem;
    border: 1px solid black
}
.rightheader {
    flex-basis: 60%;
    padding-left: 1rem;
    border: 1px solid black
}
.rightheader h3 {
    font-size: 2.5rem;
    color:#434C5E;
    letter-spacing: 0.05em;
}
h1 {
    font-size: 5rem;
    color: #4C566A;
    text-align: center;
    letter-spacing: 0.05em;
}
h3 {
    font-size: 2rem;
    color:#434C5E;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
    border: 0px solid black
}
.mainul {
    /* this is to disable the list style on the main page */
    list-style-type: none;
    border: 0px solid black
}
li {
    font-size: 1.4rem;
    color:#434C5E;
    margin: 0.5rem auto;
    letter-spacing: 0.05em;
    border: 0px solid black
}